<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="backgroundimg"></div>
    <nav id="navbar">
        <ul >
            <li ><a class="item" href="/"> Home </a></li>
            <li >                
                <div class="dropdown">
                <a class="item" href="/services"> Services</a>
                <div class="dropdown-content">
                    <a href="/services/oil_change"> Oil Change Booking </a>
                    <a href="/services/tire_change">Tire Change Booking </a>
                    <a href="/services/safety_inspection"> Safety INspection  Book </a>
                    <a href="/parts"> Parts </a>
                </div>
            </div></li>
            <li class="dropdown">
                <a class="item" href="/rental">Rent a Car</a>
                <div class="dropdown-content">
                  <a href="/rental/diesel"> diesel </a>
                  <a href="/rental/petrol"> petrol </a>
                  <a href="/rental/electric"> electric </a>
                  <a href="/rental/hybrid"> hybrid </a>
                  <a href="/rental/sedan"> Sedan </a>
                  <a href="/rental/mid_suv"> Mid Size Suv </a>
                  <a href="/rental/compact_suv"> Compact Suv </a>
                  <a href="/rental/coupe"> Coupe </a>
                  <a href="/rental/station_wagon"> Station Wagon </a>
                  <a href="/rental/hatchback"> Hatchback </a>
                  <a href="/rental/AWD"> AWD (All-Wheel Drive) </a>
                  <a href="/rental/FWD"> FWD (Front-Wheel Drive) </a>
                  <a href="/rental/4x4"> 4x4 </a>
                  <a href="/rental/RWD"> RWD (Rear-Wheel Drive) </a>
            <li class="dropdown">
                <a class="item" href="/inventory">Inventory</a>
                <div class="dropdown-content">
                  <a href="/inventory/pre_owned"> pre_owned </a>
                  <a href="/inventory/diesel"> diesel </a>
                  <a href="/inventory/petrol"> petrol </a>
                  <a href="/inventory/electric"> electric </a>
                  <a href="/inventory/hybrid"> hybrid </a>
                  <a href="/inventory/sedan"> Sedan </a>
                  <a href="/inventory/mid_suv"> Mid Size Suv </a>
                  <a href="/inventory/compact_suv"> Compact Suv </a>
                  <a href="/inventory/coupe"> Coupe </a>
                  <a href="/inventory/station_wagon"> Station Wagon </a>
                  <a href="/inventory/hatchback"> Hatchback </a>
                  <a href="/inventory/AWD"> AWD (All-Wheel Drive) </a>
                  <a href="/inventory/FWD"> FWD (Front-Wheel Drive) </a>
                  <a href="/inventory/4x4"> 4x4 </a>
                  <a href="/inventory/RWD"> RWD (Rear-Wheel Drive) </a>
                  
                  
            <li><form id="form1" action="/search" method="POST">
                <input type="text" name="search" required> 
                <button  type="submit"> search </button>
            </form></li>
            <%  if (logged_in) { %>
                <div class="dropdown">
                    <a class="item" href="/your_profile">Ypur Profile</a>
                    <div class="dropdown-content">
                        <a href="/your_profile"> <%= logged_in %> <a>
                    </div>
                </div>

            <% if(role == "admin"){  %>
                <div class="dropdown">
                    <a class="item" href="#">Admin Login</a>
                    <div class="dropdown-content">
                        <a href="/add">Add Inventory</a>
                        <a href="/rental_add">Add Rental </a>
                        <a href="/profile"> All User Profile</a>
                    </div>
                </div>
            <% } %>
               
                <% }else { %>
                    <p class="sign"> <a href="/login"> login</a></p>
                    <p class="sign"> <a href="/signup"> sign up </a></p>
                    <% } %>
           
        
            <%  if (logged_in) { %>
                <p class="sign" > <a href="/logout"> logout </a></p>
                <% } %>
               
        </ul> 
    </nav>
    <p class="p1"> welcome to our dealership </p>     
        <% use_data.forEach(data => { %> 
            <div class="div1">
                <div class="div2"><img class= img1 src="<%= data.path %>" alt="Car Image"></div>
                <div class="div3">
                 <p class="p2"><%= data.car_name %> - <%= data.company %></p>
                <p class="p2">Year: <%= data.car_year %></p>
                <p class="p2">Colour: <%= data.colour %></p>
                <p class="p2">Price: <%= data.car_price %></p>
                <p class="p2">Pre-owned: <%= data.pre_owned %></p>
                <p class="p2">Fuel Type: <%= data.fuel_type %></p>
              <p>  <a class="item1" href="/buycar/<%= data.id %>">Click Here to Know More About Car</a> </p>
                
                
                <% if(role == "admin"){  %>
                    <a href="/update/<%= data._id %>" > Update </a>
                    <p>Updated By: <%= data.updated_by %></p>
                    <p>Posted By: <%= data.posted_by %></p>
                   <p><a href="/delete/<%= data._id %>"> Delete </a> </p>
                    <% } else if(role == "salesman") { %>
                        <p>  <a class="item1" href="/update/<%= data._id %>">Update</a></p>
                    <% } %>
            </div>
            </div>
        <% }) %>
        <p class="p1"> <a href="/inventory" > More cars</a></p>

<footer> 
    <div class="column">
    <h2> <a href="/search" > search </a> </h2>
    <ul>
        <li>asaddfggg</li>
        <li>sdfsdgsfdgdsf</li>
        <li>rwaetrgte</li>
        </ul>
        </div>
        <div class="column">
        <h2> <a href="/finance" > finance </a></h2>
       <ul>
            <li>fretey</li>
            <li>erystyte</li>
            <li>teyruruyr</li>
        </ul>
        </div>
       <div class="column">
       <h2> <a href="/services" > service </a></h2>
       <ul>
           <li>reyruyutyuyety</li>
           <li>rettretrstrtrte</li>
           <li>srgsertser</li>
       </ul>
       </div>
       
       <div class="column">
       <h2><a href="/support"> support  </a></h2>
       <ul>
           <li>help@ww.com</li>
           <li>431651661</li>
           <li>support@center</li>
       </ul>
       </div>
       
</footer>
</body>
</html>